/* Colors */
.cor_0 {
  background-color: var(--color-0);
}

.cor_1 {
  background-color: var(--color-1);
}

.cor_2 {
  background-color: var(--color-2);
}

.cor_3 {
  background-color: var(--color-3);
}

.cor_4 {
  background-color: var(--color-4);
}

.cor_5 {
  background-color: var(--color-5);
}

.cor_6 {
  background-color: var(--color-6);
}

.cor_7 {
  background-color: var(--color-7);
}
.App_header {
  background-color: #282c34;
  min-height: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.quadrado {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  border-radius : var(--border-radius)
}
.dimensao{
  padding: 2rem 6rem;

  align-self: center;
  /* text-align: center ; */
  justify-content: center;
  justify-self: center  ;
  justify-items: center;
}

.dimensao_titulo{

  position: relative;
  left:30%;

  border: 2px #000 solid;

  border-radius: 8px;
  width: 40%;
padding:0.4rem 4.5rem;

text-align: center;
margin-bottom: 4rem ;
}

.dimensao_conteudo{
  position: relative;
  left:15%;
  /* border: grey solid 1px; */
  width: 70%;
}
.dimensao_botao{
  background-color: #fff;
  display: inline;
  margin: 2rem 1rem;
  margin-top: 10rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  /* text-align: left; */
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
width: 20%;
  /* position: relative; */;
  /* left:50%; */
}

.dimensao_botao:hover,
.dimensao_botao:focus,
.dimensao_botao:active {
  color: #0070f3;
  border-color: #0070f3;
}




.dimensoes{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quadro {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.texto {
  font-size: 1.2rem;
  font-weight:400 ;
  padding: 2rem 6rem;
  text-align: justify;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.negrito {
  /* font-size: 1.8rem; */
  color:#000000;
  font-weight:650 ;
  display: inline;
}
.rosito {
  /* font-size: 1.8rem; */
  color:#ff5757;
  display: inline;
  font-weight:750 ;
}
.container{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo  {
  color: #000000;
  text-decoration: none;
  text-size-adjust: 2rem;
  font-size: 2rem;
  font-weight: bold;
  /* text-ds ; */
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.cartao_dim {
  margin: 1rem;
  flex-basis: 45%;
  /* width: 20%; */
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  background-color: var(--cor-cartao-dim);
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.cartao_dim:hover,
.cartao_dim:focus,
.cartao_dim:active {
  color: #0070f3;
  border-color: #0070f3;
}



.cartao {
  background-color: #fff;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cartao:hover,
.cartao:focus,
.cartao:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cartao h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cartao p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.voltar {
  background-color: #fff;
  margin: 1rem;
  /* flex-basis: 45%; */
  padding: 1.5rem;
  /* text-align: left; */
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;

  position: relative;
  left:50%;
}

.voltar:hover,
.voltar:focus,
.voltar:active {
  color: #0070f3;
  border-color: #0070f3;
}



.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
